@font-face {
    font-family: 'verbcondregular';
    src: url('../font/VerbCondRegular-webfont.eot');
    src: url('../font/VerbCondRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/VerbCondRegular-webfont.woff') format('woff'),
         url('../font/VerbCondRegular-webfont.ttf') format('truetype'),
         url('../font/VerbCondRegular-webfont.svg#verbcondregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(../font/opensans300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(../font/opensans700.woff) format('woff');
}

H1, H2, H3, H4 {
  font-family: 'Open Sans Condensed', sans-serif;
}

BODY {
  font-family: 'verbcondregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* 100% HEIGHT */

HTML, BODY, #container, #navbar, #navchat, .stretch { height: 100%; z-index: 10; }

@media print {
  HTML, BODY, #container, #navbar, #navchat, .stretch { height: auto; }
}

/* BUTTONS */

.btn-red, .btn-blue {
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-red  { background-color: #DA3610; }
.btn-blue { background-color: #00BFDD; }

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #EEE;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}

/* TABLE */

TABLE.table TD {
  color: #666666;
  /*border-top: none !important;*/
}

TABLE.table-striped TR:nth-child(odd) TD {
  background-color: #F6F6F6;
}

/* MODAL */

BODY.modal-open { }

.modal-header {
  background-color: #DA3610;
  border-radius: 4px 4px 0 0;
}

.modal-header H3 {
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

/* CODEMIRROR */
.modal-body .CodeMirror-scroll {
  padding-bottom: 0;
}


.form-grid INPUT {
  display: inline-block;
  width: 75%;
}

/* ========================================== */
/*  CONTAINER                                 */
/* ========================================== */

.container { width: 100%; }

#container{
  padding: 0;
  overflow-x: hidden;
}

#container .content {
  overflow: auto;
  padding-right: 30px;
  padding-top:   20px;
}

#container .content H1 {
  color: #CDCDCD;
  font-size: 46px;
  padding: 20px 0px;
}

/* ========================================== */
/*  NAVBAR                                    */
/* ========================================== */

#navbar {
  color:      #636363;
  background: #191818;
  border-right: 8px solid #EEEEEE;
}

#navbar H2 {
  margin:  0;
  padding: 20px 0px;
  text-align: center;
  font-size:  40px;
}

#navbar UL.nav A {
  color: #636363;
  font-size:   14px;
  font-weight: bold;
  padding: 8px 25px;
}
#navbar UL.nav LI A:hover,
#navbar UL.nav LI.active A {
  color: #FFFFFF;
  background: #222222;
}

#navbar .btn-menu { 
  padding: 10px;
  font-size: 20px; 
  margin-bottom: 0;
  text-align: center;
}
#navbar .btn-menu A { 
  padding: 5px 30px;
}



/* ========================================== */
/*  NAVCHAT                                   */
/* ========================================== */

#navchat {
  color:      #8F8F8F;
  background: #F6F6F6;
  /*border-left: 8px solid #EEEEEE;*/
  margin-left: -20px;
}

#navchat H2 {
  margin:  0;
  padding: 10px 20px;
  font-size:  20px;
  font-weight: bold;
  background: #BBBBBB;
  color: #FFFFFF;
}

#navchat H2.head {
  padding: 30px 20px;
  font-size:  25px;
  font-weight: normal;
  color:      #999999;
  background: #FFFFFF;
  border-bottom: 3px solid #FEA400;
}

#navchat H3 {
  color: #3E3E3E;
  padding: 10px 20px 0px 20px;
  font-size:  15px;
  font-weight: bold;
}

#navchat #headline-logo {
  width: 100%;
}

#navchat #news {
  padding: 0px 5px 0px 24px;
}

#navchat #news LI {
  position: relative;
  list-style-type: none;
  border-left: 1px dashed #AEAEAE;
  /*border-bottom: 1px dashed #AEAEAE;*/
  padding: 5px 15px 2px 15px;
  font-size: 13px;
}
#navchat #news LI .glyphicon {
  position: absolute;
  left: -7px; top: 6px;
  color: #00BFDD;
}
#navchat #news LI A {
  color: #6E6E6E;
}

#navchat #ticker {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 25px 20px 0px 20px;
  font-size: 26px;
}

/* ========================================== */
/*  HOME                                      */
/* ========================================== */


BODY {
  background: -moz-linear-gradient(-45deg,  #ffffff 13%, #e6dec5 66%); /* FF3.6+ */
  background: -webkit-linear-gradient(-45deg,  #ffffff 13%,#e6dec5 66%); /* Chrome10+,Safari5.1+ */  
  background: -ms-linear-gradient(-45deg,  #ffffff 13%,#e6dec5 66%); /* IE10+ */
  background: linear-gradient(135deg,  #ffffff 13%,#e6dec5 66%); /* W3C */
}

.content {
  background: #FFFFFF;
}

#home {
  background: transparent;
}

/* ========================================== */
/*  PLUGIN                                    */
/* ========================================== */


#plugin-title {
  text-transform: capitalize;
}

/* ========================================== */
/*  STORE                                     */
/* ========================================== */

#store .tags,
#store .description {
  font-size: 12px;
}

#store .popup {
  color: #666666;
}

/* ========================================== */
/*  CONTROLS                                  */
/* ========================================== */

@media only screen and (max-width : 991px) {
	HTML, BODY, #container, #navbar, #navchat, .stretch {
		height:auto;
		border-right: none;
	}
}

#controls {
  background: transparent;
}

#controls .description {
  font-size: 12px;
}

.toggler {
	cursor:pointer;
}

/*===== Large buttons =====*/

.square-buttons { width: 100%; text-align: center; padding: 14px; font-size: 0; line-height: 1; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
.square-buttons > li { margin: 4px 12px; position: relative; display: inline-block; text-align: center; width:100px; height:100px; border:1px solid #d7d7d7; /*border-radius:50%;*/ position:relative; background: #fcfcfc; }

.depth { overflow: hidden; margin: 3px; width: 92px; height: 92px; /*border-radius: 50%;*/ background-color: #E9DEBD;
box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);

-webkit-transition: all 0.1s ease-in-out; 
   -moz-transition: all 0.1s ease-in-out;
     -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;

}
.depth.active { background: #cf6a59;
  box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.2) inset;
}
.depth > .mode { display: block; width: 82px; height: 82px; position: relative; text-align: center; text-decoration: none; font-size: 16px; color: #676767; /*border-radius: 50%;*/ cursor: pointer; margin: 5px;
  background: #E9E7E7; 
  background: -moz-linear-gradient(top,  #ffffff 0%, #E9E7E7 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#E9E7E7)); 
  background: -webkit-linear-gradient(top,  #ffffff 0%,#E9E7E7 100%); 
  background: -o-linear-gradient(top,  #ffffff 0%,#E9E7E7 100%); 
  background: -ms-linear-gradient(top,  #ffffff 0%,#E9E7E7 100%); 
  background: linear-gradient(top,  #ffffff 0%,#E9E7E7 100%); 

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

.depth:active { color: #cf6a59; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; background: #cf6a59; }

.depth > .mode > .glyphicon{ font-size: 24px; margin: 19px 0 10px 0; width: 24px; float: none; height: 24px; }

.depth > .mode:hover { color: #2E2D2D; background: -webkit-linear-gradient(top, #E9E7E7 0%, #ffffff 100%); }
